<div>
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p>Created By: {{user.name}} on {{format_date date_created}}</p>
  <p>
    <span class="dollar-amount">{{format_amount needed_funding}}</span>
    Needed:
  </p>
  <p>
    <button class="btn btn-primary">Fund this Project!</button>
  </p>
</div>